@tailwind base;
@tailwind components;
@tailwind utilities;

.dangerous-html a {
  color: blue;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #ff6600;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  transition: transform 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}
